// fonts
$font_base: 'AlegreyaSans', sans-serif;
$OpenSans: 'OpenSans', sans-serif;
$MuseoSansCyrl: 'MuseoSansCyrl', serif;
$font_base_size: 16px;

// color
$grey_color: #666666;
$grey_hover_color: #0d0d0d;
$accent_color: #0f5a47;
$accent_hover_color: #0b4d3c;

// size
$content_width: 940px;

// z-index
$z-feature: 10;
$z-composition: 20;
$z-team-after: 10;
$z-menu: 10;