<div class="section contacts">
  <div class="contacts__map" id="map"></div>

  <footer class="contacts__footer">
    <div class="contacts__container container">
      <address class="location">
        <span class="location__addr">Москва, ул.Новый Арбат, д.31/12</span>
        <a href="tel:+78009039090" class="location__tel">8 800 903 90 90</a>
      </address>

      <ul class="social">
        <li class="social__item">
          <a href="https://vk.com/" class="social__link social__link--vk"></a>
        </li>
        <li class="social__item">
          <a href="https://ru-ru.facebook.com/" class="social__link social__link--f"></a>
        </li>
        <li class="social__item">
          <a href="https://www.instagram.com/?hl=ru" class="social__link social__link--in"></a>
        </li>
        <li class="social__item">
          <a href="https://twitter.com/?lang=ru" class="social__link social__link--tv"></a>
        </li>
      </ul>
    </div><!-- .container -->
  </footer>
</div>