<header class="header">
  <a href="index.html" class="logo">chocco</a>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#about" class="nav__link">О нас</a>
      </li>
      <li class="nav__item">
        <a href="#bars" class="nav__link">Батончики</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Команда</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Меню</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Отзывы</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Как мы работаем</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Контакты</a>
      </li>
    </ul>
  </nav>

  <a href="tel:+78009039090" class="phone">8 800 903 90 90</a>
</header>