<header class="header">
  <div class="header__container container">
    <a href="index.html" class="logo">chocco</a>

    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll-to="1">О нас</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll-to="2">Батончики</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll-to="3">Команда</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll-to="4">Меню</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll-to="5">Отзывы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll-to="6">Как мы работаем</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll-to="8">Контакты</a>
        </li>
      </ul>
    </nav>

    <a href="tel:+78009039090" class="phone">8 800 903 90 90</a>
  </div><!-- .container -->
</header>