<section class="section menu">
  <div class="menu__container">
    <div class="menu__head">
      <h2 class="section-title section-title--white">Меню</h2>
    </div>

    <div class="menu__content">
      <ul class="accordion">
        <li class="accordion__item active">
          <a href="#" class="accordion__link accordion__link--item1">Батончики с молоком</a>

          <div class="accordion__text">
            <p>
              Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее.
              Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно
              питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет
              спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы.
            </p>
          </div>

          <span class="accordion__link accordion__link--item1 accordion__link--substrate">Батончики с молоком</span>
          <a href="#" class="close"></a>
        </li>

        <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link--item2">С мёдом и фруктами</a>

          <div class="accordion__text">
            <p>
              Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее.
              Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно
              питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет
              спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы.
            </p>
          </div>

          <span class="accordion__link accordion__link--item2 accordion__link--substrate">С мёдом и фруктами</span>
          <a href="#" class="close"></a>
        </li>

        <li class="accordion__item">
          <a href="#" class="accordion__link accordion__link--item3">Дикие ягоды</a>

          <div class="accordion__text">
            <p>
              Рекомендуем употреблять батончики вместе с кокосовым или миндальным молоком. Так и вкуснее, и полезнее.
              Ну чего ещё хотеть от жизни? Батончик – он твой лучший друг и радует всех вокруг. Как классно, что можно
              питаться полезно и вкусно, а не как попало. Бабуля, конечно, за такую еду не похвалит, но кто её будет
              спрашивать – никто. Надо бы, кстати, бабулю поздравить с днём Победы.
            </p>
          </div>

          <span class="accordion__link accordion__link--item3 accordion__link--substrate">Дикие ягоды</span>
          <a href="#" class="close"></a>
        </li>
      </ul>
    </div>
  </div><!-- .menu__container -->
</section>