<div class="nav-mobile">
  <a href="#" class="hamburger">
    <span class="hamburger__elem"></span>
    <span class="hamburger__elem"></span>
    <span class="hamburger__elem"></span>
  </a>
  <ul class="nav-mobile__list container-flex">
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link" data-scroll-to="1">О нас</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link" data-scroll-to="2">Батончики</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link" data-scroll-to="3">Команда</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link" data-scroll-to="4">Меню</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link" data-scroll-to="5">Отзывы</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link" data-scroll-to="6">Как мы работаем</a>
    </li>
    <li class="nav-mobile__item">
      <a href="#" class="nav-mobile__link" data-scroll-to="8">Контакты</a>
    </li>
  </ul>
</div><!-- .nav-mobile -->