<section class="section reviews">
  <div class="reviews__container container">
    <h2 class="section-title">Отзывы</h2>

    <ul class="reviews__list">
      <li class="reviews__item active">
        <div class="reviews__img" style="background-image:url(files/img/reviews/photo-1458890715264-db84f7c6ef132.jpg)"></div>

        <div class="reviews__block">
          <h3 class="reviews__head">Лучший перекус</h3>

          <div class="reviews__text">
            <p>
              Я ем малыми порциями, но часто. Это повышает мою продуктивность в разы. В течение дня сижу за компьютером
              и часто отходить в кафе или на кухню просто не могу себе позволить. А батончик – он всегда под рукой. Это
              приятно и удобно.
            </p>
          </div><!-- .reviews__text -->

          <span class="reviews__author">Алёна Хмельницкая</span>
        </div><!-- .reviews__block -->
      </li>

      <li class="reviews__item">
        <div class="reviews__img" style="background-image:url(files/img/reviews/photo-1468546818829-25bb337b66461.jpg)"></div>

        <div class="reviews__block">
          <h3 class="reviews__head">Идеально подходят для спортсменов</h3>

          <div class="reviews__text">
            <p>
              После тренировок всегда хочется быстро закинуться чем-то белковым, потому что до дома ещё нужно доехать. А
              кушать хочется. Протеиновые батончики всегда выручают в этом плане. Спасибо производителю за этот
              качественный и экологичный продукт.
            </p>
          </div><!-- .reviews__text -->

          <span class="reviews__author">Вадим Грачев</span>
        </div><!-- .reviews__block -->
      </li>

      <li class="reviews__item">
        <div class="reviews__img" style="background-image:url(files/img/reviews/photo1.jpg)"></div>

        <div class="reviews__block">
          <h3 class="reviews__head">Лучшие батончики премиум уровня</h3>

          <div class="reviews__text">
            <p>
              Батончики понравились. На мой взгляд слегка завышена цена по сравнению с конкурентами, однако, как
              говорится – оно того стоит. Нравится носить с собой, нравится держать в руке. Ну и конечно же, кушать.
              Идеально утоляют голод, хоть и не надолго. Через час уже ем ещё один. Но это скорее плюс, чем минус.
            </p>
          </div><!-- .reviews__text -->

          <span class="reviews__author">Мария Орлова</span>
        </div><!-- .reviews__block -->
      </li>
    </ul>

    <ul class="reviews__thumb">
      <li class="reviews__thumd-item active">
        <a href="#" class="reviews__thumd-link"></a>
      </li>
      <li class="reviews__thumd-item">
        <a href="#" class="reviews__thumd-link"></a>
      </li>
      <li class="reviews__thumd-item">
        <a href="#" class="reviews__thumd-link"></a>
      </li>
    </ul>
  </div><!-- .container -->
</section>