<section class="section works">
  <div class="works__container container">
    <h2 class="section-title">Как мы работаем</h2>

    <div class="video">
      <div class="video__screen">
        <video id="video" poster="files/img/video/video-bg.jpg"></video>

        <img src="files/img/video/video-play-icon.png" alt="play button" class="play video__play">
      </div><!-- .video__screen -->

      <div class="video__control">
        <div class="video__duration">
          <img src="files/img/video/Play-gray.png" alt="Icon" class="video__icon play">
          <input type="range" class="video__length" id="videoDuration" min="0">
        </div><!-- .video__duration -->

        <div class="video__sound">
          <img src="files/img/video/Volum-gray.png" alt="Icon" class="video__icon" id="soundOnOff">
          <input type="range" class="video__length" id="videoVolume" min="0" max="10">
        </div><!-- .video__sound -->
      </div><!-- .video__control -->
    </div><!-- .video -->
  </div><!-- .works__content -->
</section>